.sqr{
    width: 100%;
    height: 138px;
    border-radius: 10px;
    margin-top: -129%;
    margin-right: 32%;
    animation: ani 8s linear infinite;
}
.AIs{
    display: flex;
    justify-content: space-between;
}
.con{
    width: 28%;
}
.con1{
    width: 28%;
    margin-right: 23%;
}

@keyframes ani {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.circle{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 12%;
    margin-top: -115px;
    border-radius: 50%;
    background-color: rgb(124, 174, 244);
    animation: anima 10s linear;
}
@keyframes anima {
    0%{
        top: 360%;
        left: 50%;
    }
    50%{
        top: 342%;
        left: 65%;
    }
    100%{
        top: 333%;
        left: 83%;
    }
    
}
.AI_inside{
    width: 360px;
    height: 300px;
    margin-left: 80%;
    margin-top: -550px;
    margin-bottom: 25%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px whitesmoke;
}
.AI_inside:hover{
    width: 380px;
    height: 320px;
}

.AI_img{
    margin: 5%;
    border-radius: 30px;
}
.AI{
    text-align: center;
}
.AI h1{
    font-size: 60px;
}
